@use 'sass:list';
@use 'sass:map';

.grid {
  display: grid;
  width: 100%;
  grid-template-columns: repeat($columns, minmax(0, 1fr));
}

//Responsive classes section
@for $i from 1 through length($grid-breakpoints) {
  $prefix: list.nth(list.nth($grid-breakpoints, $i), 1);
  $value: list.nth(list.nth($grid-breakpoints, $i), 2);

  $middle-stuff: null;
  @if $i == 1 {
    $middle-stuff: '';
  } @else {
    $middle-stuff: #{$prefix}-;
  }

  @media screen and (min-width: $value) {
    //Column classes
    @for $column from 1 through $columns {
      .col-#{$middle-stuff}#{$column} {
        grid-column: span $column;
      }
    }

    //General spacing utilities
    @each $variation
      in map.merge(
        (
          '': '',
        ),
        $directions
      )
    {
      $variation-suffix: list.nth($variation, 1);
      $variation-prop: list.nth($variation, 2);
      @for $iteration from 1 through $property-multiples {
        .#{generate-responsive-class-name($iteration, 'p', $prefix, $variation-suffix)} {
          @include general-single-prop(
            $iteration * $property-basis,
            'padding',
            $variation-prop
          );
        }

        .#{generate-responsive-class-name($iteration, 'm', $prefix, $variation-suffix)} {
          @include general-single-prop(
            $iteration * $property-basis,
            'margin',
            $variation-prop
          );
        }
      }
    }

    //Grid gaps and compound margin/padding utilities
    @for $iteration from 1 through $property-multiples {
      .gap-#{$middle-stuff}#{$iteration} {
        gap: $property-basis * $iteration;
      }

      $op-result: $property-basis * $iteration;

      .mx-#{$middle-stuff}#{$iteration} {
        margin-left: $op-result;
        margin-right: $op-result;
      }

      .my-#{$middle-stuff}#{$iteration} {
        margin-top: $op-result;
        margin-bottom: $op-result;
      }
    }

    .mx-#{$middle-stuff}auto {
      margin-right: auto;
      margin-left: auto;
    }

    //Display utilities
    @each $variation in $display-types {
      .d-#{$middle-stuff}#{$variation} {
        display: #{$variation};
      }
    }

    @each $variation in $alignment-values {
      .galign-items-#{$middle-stuff}#{$variation} {
        align-items: #{$variation};
      }

      .gjustify-items-#{$middle-stuff}#{$variation} {
        justify-items: #{$variation};
      }

      .galign-self-#{$middle-stuff}#{$variation} {
        align-self: #{$variation};
      }

      .gjustify-self-#{$middle-stuff}#{$variation} {
        justify-self: #{$variation};
      }
    }
  }
}
